

// Process Parameters:

// Process Parameters for collapse_sequences_collapse_seq:
params.collapse_sequences_collapse_seq.max_missing =  0  //* @input @description:"Maximum number of missing nucleotides to consider for collapsing sequences. A sequence will be considered undetermined if it contains too many missing nucleotides. Default is 0"
params.collapse_sequences_collapse_seq.inner =  "false"  //* @checkbox @description:"Exclude consecutive missing characters at either end of the sequence. Default is false."
params.collapse_sequences_collapse_seq.fasta =  "false"  //* @checkbox @description:"Specify to force output as FASTA rather than FASTQ. Default is false."
params.collapse_sequences_collapse_seq.act =  "none"  //* @dropdown @options:"none, min, max, sum, set" @description:"Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default none"
params.collapse_sequences_collapse_seq.uf =  ""  //* @input @description:"Specifies a set of annotation fields that must match for sequences to be considered duplicates. Default none"
params.collapse_sequences_collapse_seq.cf =  ""  //* @input @description:"Specifies a set of annotation fields to copy into the unique sequence output. Default none"
params.collapse_sequences_collapse_seq.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.collapse_sequences_collapse_seq.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well." @title:"General params"

// Process Parameters for Parse_header2_parse_headers:
params.Parse_header2_parse_headers.method =  "collapse"  //* @dropdown @options:"collapse, add, copy, delete, expand, merge, rename, table" @description: "Parse method. Default collapse (See https://presto.readthedocs.io/ for more details.)"
params.Parse_header2_parse_headers.act =  "min"  //* @dropdown @options:"min, max, sum, first, last, set, cat" @description: "Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default min (See https://presto.readthedocs.io/ for more details.)"
params.Parse_header2_parse_headers.args =  "-f CONSCOUNT"  //* @input @description: "Additional arrguments for ParseHeader function. Defualt is '-f CONSCOUNT' for method collapse."

// Process Parameters for split_sequences_split_seq:
params.split_sequences_split_seq.field =  "CONSCOUNT"  //* @input @description: "Annotation field to split sequence files by. Default CONSCOUNT. "
params.split_sequences_split_seq.num =  2  //* @input @description: "Specify to define the split field as numeric and group sequences by value. Default 2."

// Process Parameters for Parse_header_parse_headers:
params.Parse_header_parse_headers.method =  "collapse"  //* @dropdown @options:"collapse, add, copy, delete, expand, merge, rename, table" @description: "Parse method. Default collapse (See https://presto.readthedocs.io/ for more details.)"
params.Parse_header_parse_headers.act =  "min"  //* @dropdown @options:"min, max, sum, first, last, set, cat" @description: "Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default min (See https://presto.readthedocs.io/ for more details.)"
params.Parse_header_parse_headers.args =  "-f CONSCOUNT"  //* @input @description: "Additional arrguments for ParseHeader function. Defualt is '-f CONSCOUNT' for method collapse."

// Process Parameters for Parse_header1_parse_headers:
params.Parse_header1_parse_headers.method =  "collapse"  //* @dropdown @options:"collapse, add, copy, delete, expand, merge, rename, table" @description: "Parse method. Default collapse (See https://presto.readthedocs.io/ for more details.)"
params.Parse_header1_parse_headers.act =  "min"  //* @dropdown @options:"min, max, sum, first, last, set, cat" @description: "Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default min (See https://presto.readthedocs.io/ for more details.)"
params.Parse_header1_parse_headers.args =  "-f CONSCOUNT"  //* @input @description: "Additional arrguments for ParseHeader function. Defualt is '-f CONSCOUNT' for method collapse."

// Pipeline Config:
$HOSTNAME='default'
